<div class="container" id="tdashboard_body">
    <div id="wrapper">
        <div id="content">
        <div id="inner">
        <div class="row">
            <br>
            <div class="col-sm-12">
                <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-sm-12">
                <div class="well well-sm" style="font-weight: bold">My Courses</div>
                <a (click)= "coursedesign1($event)">
                    <img class="img-responsive" src="assets/img/circle.png">
                </a>
            </div>
        </div>
    </div>
        
    </div>
    </div>
</div>
<div class="container">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        <a (click)= "tutorDash($event)" class="active"><img class="img-responsive" src="assets/img/profile_active.png" width="45" height="45"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="45" height="45"></a>
                    </div> 

                </footer>
        </div>
</div>