<div class="container" id="tdashboard_body">
    <div id="wrapper">
        <div id="content">
        <div id="inner">
        <div class="row">
            <br>
            <div class="col-sm-12">
                <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-sm-12">
                <div class="well well-sm page-title" style="font-weight: bold">Courses</div>
                <a (click)= "coursedesign1($event)">
                    <img class="img-responsive" src="assets/img/circle.png" height="35px" width="35px">
                </a>
            </div>
        </div>
        <br>
        <div class="row ">
            
            <ng-container *ngFor="let cour of course; let i = index;">
                <div class="col-sm-12" style="color:white;" [attr.course_id]="cour.courseId" (click)= "navigateToCourse($event)" >
                    
                   <div class="col-sm-8" style="background-color: transparent; border:0.5px dashed white; border-radius: 6px; padding: 0.5em;">
                    <div class="col-sm-4" style="display: inline-block">
                        <img src={{cour.courseIcon}} width="80" height="80" />
                    </div>
                    <div class="col-sm-8" style="display: inline-block">
                        <div >{{cour.name}}</div>
                    </div>
                   </div>
                    
                   <br>

                </div>
            </ng-container>
        </div>
    </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar">
                    
                    <a (click)= "tutorDash($event)" class="active"><img class="img-responsive" src="assets/img/study_active.png"  width="30" height="30"></a> 
                    <a  (click)= "tutorProfile($event)" style="float: right" ><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                </div> 

            </footer>
    </div>
</div>