<div class="container" id="tprofile_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
            <div class="row">
            <br>
                <div class="col-sm-12">
                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="well well-sm" style="font-weight: bold">Profile</div>
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <!-- <img class="img-responsive center-block" src="assets/img/profile.png" alt="logo" width="75" height="75" style="display: block;">  -->
                    <img class="img-responsive center-block img-rounded" src="{{profilepic}}" alt="logo" width="100" height="100" style="display: block;"> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 text-center" id="toptions">
                    <!-- <a (click)= "tutorDesc1($event)" style="color: yellow">About Tutor</a> -->
                    <!-- <br> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="titleFormControlInput1" style="color: yellow">Tutor Name</label>
                            <input type="text" class="form-control" style="color: white;background-color: #303030;display: inline-block;"  [(ngModel)]="this.tutorName" />
                            <br>
                            <br>
                            <label for="titleFormControlInput1" style="color: yellow">Description</label>
                            <textarea class="form-control" rows="3" style="color: white;background-color: #303030;"  [(ngModel)]="this.tutorDesc" ></textarea>
                            <br>
                            <button type="button" class="btn btn-primary center-block" style="float:none;" (click)= "tutorDesc1($event)">Edit</button>
                        </div>   
                       
                    </div>
                    <br>
                </div>
                <div class="col-sm-12 text-center" id="toptions">

                    <div style="display: flex;">

                    </div>

                    <a href="#" style="color: yellow; ">Notifications: </a>                     
                    <app-toggle-button >
                    </app-toggle-button>
                    <!-- <p>The state is {{checked ? 'hi' : 'hello'}}.</p> -->
                    <!-- <app-toggle-button>loading</app-toggle-button> -->
                    <!-- <br> -->
                </div>
                <div class="col-sm-12 text-center" id="toptions">
                    <a (click)= "Selection($event)" style="color: yellow">Change Role</a>
                    <br>
                    <br>
                </div>
                <div class="col-sm-12 text-center" id="toptions">
                    <a (click)= "signOut($event)" style="color: yellow">Sign Out</a>
                    <br>
                    <br>
                </div>
                
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="45" height="45"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right" class="active"><img class="img-responsive" src="assets/img/study_active.png" width="45" height="45"></a>
                    </div> 

                </footer>
        </div>
</div>