<div class="container" id="tplaylistmenu_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
                    <div class="row">
                            <br>
                            <div class="col-sm-12">
                                        <a (click)= "coursedesign1($event)" style="float: left;position: absolute;">
                                                <img height='30' width="30" class="img-responsive" src="assets/img/back_btn.png">
                                        </a>
                                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="75" height="172" style="display: block;"> 
                                </div>
                    </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br>
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold;padding: 0px;">Add Quiz</div>
                    <!-- <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea> -->
                </div>
            </div> 
            <div class="form-group">                
                <label class="subheading-font-size"for="previewFormControlInput1" >Question</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter Question" style="color: white;background-color: #303030; height: 50px;" [(ngModel)]="this.question">
                <br>

                <label  class="subheading-font-size" for="previewFormControlInput1" >Options</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="OptionA" style="color: white;background-color: #303030;" [(ngModel)]="this.optionA">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="OptionB" style="color: white;background-color: #303030;" [(ngModel)]="this.optionB">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="OptionC" style="color: white;background-color: #303030;" [(ngModel)]="this.optionC">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="OptionD" style="color: white;background-color: #303030;" [(ngModel)]="this.optionD">
                <br>
                
                <label  class="subheading-font-size" for="previewFormControlInput1" >Correct Answer is: </label>

                &nbsp;
                <select name='corretAnswer' [(ngModel)]="this.optionCorrect">
                  <option value="optionA">option A</option>
                  <option value="optionB">option B</option>
                  <option value="optionC">option C</option>
                  <option value="optionD">option D</option>
                </select>

                <br>
                <br>
                <button class="btn btn-primary center-block" (click)= "Coursefeed($event)" > Save </button>
                <br>                
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div> 

                </footer>
        </div>
</div>