<div class="container" id="tplaylistmenu_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
            <div class="row">
                <br>
                <div class="col-sm-12" style="float: left">
                        <a (click)= "coursedesign1($event)">
                                <img class="img-responsive" src="assets/img/back_btn.png">
                        </a>
                </div>
                    <div class="col-sm-0" >
                        <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 style="color: white;" >Java Script</h1>
                    <br>
                    <div class="well well-sm" style="font-weight: bold">Add Quiz Questions</div>
                    <!-- <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea> -->
                </div>
            </div> 
            <div class="form-group" style="background-color: #303030">
                <label for="previewFormControlInput1" style="color: white">Quiz section title</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Quiz title" style="color: white;background-color: #303030;">
                <br> 
                <label for="previewFormControlInput1" style="color: white">Question</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter Question" style="color: white;background-color: #303030;">
                <br>
                <label for="previewFormControlInput1" style="color: white">Options</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option1:" style="color: white;background-color: #303030;">
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option2:" style="color: white;background-color: #303030;">
                <!-- <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option3:" style="color: white;background-color: #303030;">
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option4:" style="color: white;background-color: #303030;"> -->
                <br>
                <label for="previewFormControlInput1" style="color: white">Correct Answer</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter Answer" style="color: white;background-color: #303030;">
                <br>
                <button class="btn btn-primary center-block" (click)= "Coursefeed($event)" > Add Item </button>
                <br>
                <!-- <button class="btn btn-primary center-block" (click)= "Playlistmenu($event)"> Playlist menu </button> -->
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="45" height="45"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="45" height="45"></a>
                    </div> 

                </footer>
        </div>
</div>