<div class="container" id="tcoursedesc_body">
    <div id="wrapper">
        <div id="content" *ngIf="!dataLoaded">
            <div class="loading-screen-wrapper" id="loading-screen-wrapper" *ngIf="showLoadingFacade">
                <div class="loading-screen-icon text-center">
                <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                <br> 
                Loading...
                </div>
            </div>                    
        </div>
        <div id="content" *ngIf="dataLoaded">
            <div class="inner">
                <div class="row">
                    <br>                    

                    <div class="col-sm-12">
                            <a (click)= "coursedesign1($event)" style="float: left; position: absolute;">
                                    <img height="30" width="30" class="img-responsive" src="assets/img/back_btn.png">
                            </a>
                            <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                    </div>
                </div>
                 
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well well-sm page-title heading-font-size" style="font-weight: bold; padding: 0px; margin: 0px;">Edit Course Information</div>              
                    </div>
                </div>
                <div class="col-xs-12">
                    &nbsp;
                </div>
                <div>
                    <!-- <app-toggle-button (changed)="coursePublish=$event">
                    </app-toggle-button> -->

                    <div class="btn btn-success" (click)='publishChange($event, true)' *ngIf='!coursePublish'>Publish Course</div>
                    <div class="btn btn-danger" (click)='publishChange($event, false)' *ngIf='coursePublish'>Unpublish Course</div>

                    <p class="subheading-font-size">Course is {{coursePublish ? ' Published' : ' Unpublished'}}.</p>
                </div>

            <br>
            
            <div class="form-group">
                <label class="form-group subheading-font-size" for="titleFormControlInput1" style="color: white">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Loading..." style="color: white;background-color: #303030;" [(ngModel)]="this.courseName">
                <br>
                <label class="subheading-font-size" for="descriptionFormControlTextarea1" style="color: white">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"  rows="6" placeholder="Loading..." style="color: white;background-color: #303030;" [(ngModel)]="this.courseDesc"></textarea>
                <br>

                <div class="col-sm-12" style= "padding: 0px" >
                    <label class="form-group subheading-font-size" for="previewFormControlInput1" style="color: white">Curriculum Overview Video</label>
                    <video height="200" width="100%" controls src={{previewVideo}}></video>
                    <br>
                    <form  enctype="multipart/form-data" style="color: white">
                        <br>
                        <input type="file" name="file2" (change)="uploadVideo($event)" />
                    </form>

                    <br>
                </div>
                <br>

                <div class="col-sm-12" style= "padding: 0px">
                    <label class="subheading-font-size" for="iconFormControlInput1" style="color: white">Course Icon</label>
                    <br>
                    <img height="100px" width="100px"  class='imgz-center' src={{courseIcon}}/>
                    <br>
                    <form  enctype="multipart/form-data" style="color: white">
                        <br>
                        <input type="file" name="file1" (change)="uploadFile($event)" /><br>
                    </form>                    
                </div>
                <br>

                <button type="button" class="btn primary-theme-color btn-block center-block" style="float:none; width: 80%;" (click)= "updateCourse($event)" [disabled]="disableFields || disableFieldsImg || disableFieldsVideo">Update Course</button>
                <br>
                <!-- <button type="button" class="btn btn-danger btn-block center-block" style="float:none; width: 80%;" (click)= "coursedesign1($event)">Back</button> -->
                <div class="btn error-theme-color btn-block center-block" style="float:none; width: 80%;" data-toggle="modal" data-target="#myModal" >Delete Course</div>

            </div>
       
        </div>
        </div>
    </div>
</div>
<div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                        
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div> 

                </footer>
        </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title heading-font-size">Delete</h3>
            </div>
            <div class="modal-body ">
                <h4 class="content-font-size">Are you sure you want to delete <b>{{this.courseName}}?</b>     </h4>
                <br/>
            </div>
            <div class="modal-footer" style="text-align:center;">
              <br/>  
              <button type="button" class="btn primary-theme-color" data-dismiss="modal" (click)='deleteCourse($event)'>Yes</button>&nbsp;&nbsp;
              <button type="button" class="btn error-theme-color" data-dismiss="modal" >No</button>
            </div>
          </div>
          
        </div>
      </div>