<div class="loading-screen-wrapper" id="loading-screen-wrapper" *ngIf="showLoadingFacade">
    <div class="loading-screen-icon text-center">
    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
    <br> 
    Loading...
    </div>
</div>



<div class="container-fluid" id='login-section' style="padding: 0px !important;margin: 0px !important;">
<div id="login_body" >
    <div class="row" style="padding-top:100px;">
      <br>
      <br>
      <br>
        <div class="col-sm-12  logo text-center">
            <!-- <h3 class="logo_title">GEEK</h3> -->
            <img class="img-responsive center-block" src="assets/img/login_page_logo.png" alt="logo" width="200" height="345" style="display: block;"> 
            <!-- <h3 class="logo_title_lower">CHARGE</h3> -->
            <br>
            <br>
            <br>
        </div>
    </div>

<div class="row">
  <div class="col-sm-12 text-center">
      <div id="gSignInWrapper">
          <!-- <div id="customBtn" class="customGPlusSignIn" (click)="auth.signIn()"> -->
          <button type="button" class="btn btn-default customGPlusSignIn" (click)="auth.signIn()">             
            <img src="assets/img/g-normal.png" width='42' height='42px' style="top: 3em;">
            <span class="buttonText" style="font-size: 1.2em;">Sign in with Google</span>
          </button>
          <!-- </div> -->
        </div>
  </div>
</div>

<!-- <div id="gSignInWrapper">
    <div id="customBtn" class="customGPlusSignIn" (click)="auth.signIn()">
      <span class="icon"></span>
      <span class="buttonText">Google</span>
    </div>
  </div> -->

<router-outlet></router-outlet>
<!-- <button id="googleBtn">Google</button> -->
<!-- <button (click)= "handleClick($event)" type="button">Button</button> -->
</div>
</div>