<div class="container" id="tdesc_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
                <div class="row">
                    <br>
                    <div class="col-sm-12" >
                            <!-- <a (click)= "back($event)">
                            <img class="img-responsive" src="assets/img/back_btn.png">
                            </a>
                    </div>
                        <div class="col-sm-0" > -->
                            <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                        </div>
                </div>
                <br>
                <br>
                <div class="row ">
                    <div class="col-sm-12">
                        <div class="well well-sm" style="font-weight: bold">Descriptions</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="titleFormControlInput1" style="color: yellow">Tutor Name</label>
                        <input type="text" class="form-control" style="color: white;background-color: #303030;"  [(ngModel)]="this.tutorName" />
                        <br>
                        <label for="titleFormControlInput1" style="color: yellow">Description</label>
                        <textarea class="form-control" rows="3" style="color: white;background-color: #303030;"  [(ngModel)]="this.tutorDesc" ></textarea>
                        <br>
                        <button type="button" class="btn btn-primary center-block" style="float:none;" (click)= "SaveData($event)">Save</button>
                    </div>   
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar">
                    
                    <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="45" height="45"></a> 
                    <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="45" height="45"></a>
                </div> 

            </footer>
    </div>
</div>