<div class="container background-theme-color" id="tcoursedesc_body">
    <div id="wrapper">
        <div id="content">
            <div class="inner">
                    <div class="row">
                            <br>
                            <div class="col-sm-12">
                                        <a (click)= "coursedesign1($event)" style="float: left; position: absolute;">
                                                <img height="30" width="30" class="img-responsive" src="assets/img/back_btn.png">
                                        </a>
                                        <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="75" height="172" style="display: block;"> 
                                </div>
                        </div>
            <div class="row">
            <!-- <br>
            <div class="col-sm-12">
                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
            </div> -->
            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold; padding: 0px;">Create new course</div>              
                </div>
            </div>
            <div class="form-group">
                <label class="subheading-font-size" for="titleFormControlInput1" style="color: white">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title of the course" style="color: white;background-color: #303030;" [(ngModel)]="this.courseName">
                <br>
                <label  class="subheading-font-size"  for="descriptionFormControlTextarea1" style="color: white">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"  rows="6" placeholder="Overview of the course" style="color: white;background-color: #303030;" [(ngModel)]="this.courseDesc"></textarea>
                <br>
                <label  class="subheading-font-size"  for="previewFormControlInput1" style="color: white">Curriculum Overview Video</label>
                <form  enctype="multipart/form-data" style="color: white">
                    <input type="file" name="file2" (change)="uploadVideo($event)" />
                </form>


                <br>
                <label  class="subheading-font-size"  for="iconFormControlInput1" style="color: white">Course Icon</label>
                <form  enctype="multipart/form-data" style="color: white">
                    <input type="file" name="file1" (change)="uploadFile($event)" /><br>
                </form>
                <button type="button" class="btn primary-theme-color center-block" style="float:none;" (click)= "SaveData($event)" [disabled]="disableFieldsImg || disableFieldsVideo">Create Course</button>
                <br>
                <!-- <button type="button" class="btn btn-danger center-block" style="float:none;" (click)= "coursedesign1($event)">Cancel Course</button> -->
            </div>
       
        </div>
        </div>
    </div>
</div>
<!-- <div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                        
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div> 

                </footer>
        </div>
</div> -->