<div class="container" id="tcoursefeed_body">
<div id="wrapper">
    <div id="content">
        <div id="inner">
            <div class="row">
                <br>
                <div class="col-sm-12">
                        <!-- <a (click)= "coursedesign1($event)">
                                <img class="img-responsive" src="assets/img/back_btn.png">
                        </a>
                </div>
                    <div class="col-sm-0" > -->
                            <a (click)= "coursedesign1($event)" style="float: left;">
                                    <img class="img-responsive" src="assets/img/back_btn.png">
                            </a>
                        <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                    </div>
                </div>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center" style="color: white;">
                <h1 >Java Script</h1>
                <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                <br>
                <app-toggle-button (changed)="checked=$event">
                </app-toggle-button>
                <p style="color: yellow;">The Course is {{checked ? 'Published' : 'Unpublished'}}.</p>
                <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="color: white;float: left;">
                <a href="#" style="font-weight: bold;">Students Enrolled <span class="badge">5</span></a><br>
                <br>
                <p>playlist</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="color: white;float: left;">
                <span>
                    <a (click)= "playlisyMenu($event)">
                        <img class="img-responsive" src="assets/img/circle.png">
                    </a>
                </span>
                <br>
                
                
            </div>
        </div>
    </div>


    </div>
</div>
</div>
<div class="container">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="45" height="45"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="45" height="45"></a>
                    </div> 

                </footer>
        </div>
</div>
