<div class="container" id="tcoursefeed_body">
<div id="wrapper">
    <div id="content">
        <div id="inner">
            <div class="row">
                <br>
                <div class="col-sm-12">
                            <a (click)= "back($event)" style="float: left; position: absolute;">
                                    <img class="img-responsive" src="assets/img/back_btn.png">
                            </a>
                            <h1 class="text-center" style="color: white;">{{name}}</h1>
                    </div>
                </div>
        <br>

        <div class="container">
            <ul id="myTabs" class="nav nav-pills text-center" role="tablist" data-tabs="tabs">
                <li class="active col-sm-6">
                    <a href="#courseData" data-toggle="tab" class="col-sm-6">Course Data</a>
                </li>
                <li class="col-sm-6">
                    <a href="#playlist" data-toggle="tab" class="col-sm-6">Playlist</a>
                </li>
            </ul>
        </div>

        <br>
        <div class="tab-content"> 
            <div role="tabpanel" class="tab-pane fade in active" id='courseData' >
                <div class="col-sm-12 text-center" style="color: white;">
                    
                    <img class="img-responsive center-block" src="{{courseIcon}}" alt="logo" width="150" height="345" style="display: block;"> 
                    <br>
                    <span style="font-size: 20px ">Publish:</span> &nbsp;<app-toggle-button (changed)="checked=$event">
                    </app-toggle-button>
                    <br>
                    <textarea class="form-control" id="exampleFormControlTextarea1"   placeholder="Overview of the course" style="color: white;background-color: #303030;" readonly>Description: {{description}}</textarea>
                    <br>
                    <label for="descriptionFormControlTextarea1" style="color: white;float: left;">Preview Video</label>
                    <video width="100%" height="200" controls src="{{previewVideo}}">
                    </video>
                </div>
            </div>




            <div role="tabpanel" class="tab-pane fade" id='playlist'>          
            <ng-container *ngFor="let cour of courseItems; let i = index;">
            <ng-container *ngIf= "cour.playlistType === 'video'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4" style="display: inline-block">
                        <img [src]="videoImgSrc" width="80" height="80" />
                    </div>
                    <div class="col-sm-8" style="display: inline-block">
                        <div style="font-size: 20px">{{cour.videoTitle}} </div> 
                        <br>
                    </div>
                    <hr>
                </div>
            </ng-container>
            <ng-container *ngIf= "cour.playlistType === 'quiz'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4" style="display: inline-block">
                        <img [src]="quizImgSrc" width="80" height="80" />
                    </div>
                    <div class="col-sm-8" style="display: inline-block">
                        <div style="font-size: 20px">{{cour.quizQuestion}} </div> 
                        <br>
                    </div>
                    <hr>
                </div>
            </ng-container> 
            <ng-container *ngIf= "cour.playlistType === 'note'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4" style="display: inline-block">
                        <img [src]="NoteImgSrc" width="80" height="80" />
                    </div>
                    <div class="col-sm-8" style="display: inline-block">
                        <div style="font-size: 20px">{{cour.noteHead}} </div> 
                        <br>
                    </div>
                    <hr>
                </div>
            </ng-container>                        
            </ng-container>
            <div class="row">
                <div class="col-sm-12" style="color: white;float: left;">
                    <span>
                        <a (click)= "playlisyMenu($event)">
                            <img class="img-responsive" src="assets/img/circle.png">
                        </a>
                    </span>
                    <br>               
                </div>
            </div>            
        </div>  

    </div>
    </div>
    </div>
</div>
</div>




<div class="container">
        <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar">  
                    <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="45" height="45"></a> 
                    <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="45" height="45"></a>
                </div> 
            </footer>
        </div>
</div>
