<div class="container" id="tplaylistmenu_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
            <!-- <div class="row">
                    <br>
                    <div class="col-sm-12">
                            <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                        </div>
                    </div> -->
                    <div class="row">
                            <br>
                            <div class="col-sm-12">
                                        <a (click)= "cancelEdit($event)" style="float: left; position: absolute;">
                                                <img height="30" width="30" class="img-responsive" src="assets/img/back_btn.png">
                                        </a>
                                        <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                                </div>
                        </div>
            <div class="row">
                <div class="col-sm-12">                    
                    <br>
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold;padding:0px;">Edit Video Item</div>
                    <!-- <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea> -->
                </div>
            </div>
            <div class="form-group">
                <!-- <label for="previewFormControlInput1" style="color: white">Introduction Video</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Youtube embed link for intro video" style="color: white;background-color: #303030;"> -->                
                <label class="subheading-font-size" for="previewFormControlInput1" style="color: white">Lecture Video</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter the title of the video" style="color: white;background-color: #303030;height: 50px;" [(ngModel)]="this.videoTitle">
                <br>

                <div class="col-sm-12" style="padding: 0px;">
	                <video width="100%" height="200px" controls src="{{this.videoLink}}"></video>
	                <label class="subheading-font-size" for="previewFormControlInput1" style="color: white">Upload Video</label>
	                <br>
	                <form  enctype="multipart/form-data" style="color: white">
	                    <input type="file" name="file2" (change)="uploadVideo($event)" /><br>
	                </form>
                </div>

                <div class="col-sm-12" style= "padding: 0px">
                    <label class="subheading-font-size" for="iconFormControlInput1" style="color: white">Thumbnail</label>
                    <br>
                    <img height="100px" width="100px"  class='imgz-center' src={{videoThumbnail}}/>
                    <br>
                    <form  enctype="multipart/form-data" style="color: white">
                        <br>
                        <input type="file" name="file1" (change)="uploadFile($event)" /><br>
                    </form>
                </div>

                <br>
                <button class="btn primary-theme-color center-block" (click)= "updateCourse($event)" [disabled]="disableFieldsVideo || disableFieldsImg"> Update </button>
                <br>
                <button class="btn error-theme-color center-block"   data-toggle="modal" data-target="#myModal" > Delete </button>
                <br>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/study.png" width="30" height="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div> 

                </footer>
        </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title heading-font-size">Delete</h3>
            </div>
            <div class="modal-body ">
                <h4 class="content-font-size">Are you sure you want to delete?</h4>
                <br/>
            </div>
            <div class="modal-footer" style="text-align:center;">
              <br/>  
              <button type="button" class="btn primary-theme-color" data-dismiss="modal" (click)='deletePlaylist($event)'>Yes</button>&nbsp;&nbsp;
              <button type="button" class="btn error-theme-color" data-dismiss="modal" data-dismiss="modal">No</button>
            </div>
          </div>
          
        </div>
</div>