<div class="container" id="tcoursefeed_body">
<div id="wrapper">
    <div id="content" [hidden]='isLoaded' style="color:white;">
            <br>
            <div class="loading-screen-wrapper">
                    <div class="loading-screen-icon text-center">
                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                    <br> 
                    <br> 
                    <br> 
                    <br> 
                    <br> 
                    Loading...
                    </div>
                    </div>
    </div>
    
    <div id="content" [hidden]='!isLoaded'>
        <div id="inner">
            <div class="row">
                <br>

                <ng-container>
                    <nav class="navbar navbar-default navbar-fixed-top">
                      <div class="container">
                        <div class="navbar-header">
    <!--                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button> -->
                          <a class="navbar-brand">
                            <span class="glyphicon glyphicon-menu-hamburger" (click)="openSideNav($event)"></span>
                          </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">

                        </div>
                      </div>
                    </nav>

                    <div id="mySidenav" class="sidenav" [ngClass]="{'active': sidenavVisible}">
                      <a class="closebtn" (click)="closeNav($event)">&times;</a>

                        <ng-container *ngFor="let cour of courseItems; let i = index;">
                        <ng-container *ngIf= "cour.playlistType === 'video'">
                            <div class="col-sm-12" style="color:white;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                <div class="col-sm-4" style="display: inline-block; font-size: 1.2em;">
                                    <img [src]="videoImgSrc" width="20" height="20" />
                                      &nbsp;
                                     {{cour.videoTitle}}
                                </div>
                                <hr>
                            </div>
                        </ng-container>

                        <ng-container *ngIf= "cour.playlistType === 'quiz'">
                            <div class="col-sm-12" style="color:white;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                <div class="col-sm-4" style="display: inline-block; font-size: 1.2em;">
                                    <img [src]="quizImgSrc" width="20" height="20" />
                                    &nbsp;
                                    {{cour.quizQuestion}}                      
                                </div>
                                <hr>
                            </div>
                        </ng-container> 
                        <ng-container *ngIf= "cour.playlistType === 'note'">
                            <div class="col-sm-12" style="color:white; font-size: 1.2em;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                <div class="col-sm-4" style="display: inline-block">
                                    <img [src]="NoteImgSrc" width="20" height="20" />
                                    &nbsp;
                                    {{cour.noteHead}}
                                </div>
                                <hr>
                            </div>
                        </ng-container>                        
                        </ng-container> 

                    </div>
                </ng-container>

                <div class="col-sm-12">
                            <h1 class="text-center" style="color: white;">{{name}}</h1>
                    </div>
                </div>
                                
            <hr style="margin-top: 0px;">
            
            <ng-container *ngIf='isLoaded'>
            
            <div class="btn"  style="background-color: #666b6a7a;color: white;" [ngClass]="{'hideClass': activePlaylistItem === 0}" (click)='previousPlaylistItem($event)'> Previous</div>
            <div class="btn pull-right" style="background-color: #666b6a7a;color: white;" [ngClass]="{'hideClass': activePlaylistItem === (courseItems.length - 1) }" (click)='nextPlaylistItem($event)'> Next</div>

            <br>
            <br>

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'video'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4" style="display: inline-block; font-size: 1.2em;">
                        <img [src]="videoImgSrc" width="20" height="20" />
                          &nbsp;
                         {{courseItems[activePlaylistItem].videoTitle}}
                    </div>                    
                    <br>
                    <br>
                    <video width="100%" height="300" controls src="{{courseItems[activePlaylistItem].videoLink}}" preload="none">
                    </video>


                </div>
            </ng-container>

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'quiz'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4" style="display: inline-block; font-size: 1.5em;">
                        <img [src]="quizImgSrc" width="20" height="20" />
                        &nbsp;
                        {{courseItems[activePlaylistItem].quizQuestion}}                      
                    </div>

                    <br>
                    <br>

                    <div class="well well-sm notAnswered quizbtn" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionA'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionA}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionB'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionB}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionC'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionC}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionD'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionD}}
                    </div>

                </div>
            </ng-container> 

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'note'">
                <div class="col-sm-12" style="color:white; font-size: 1.2em;" >
                    <div class="col-sm-4" style="display: inline-block">
                        <img [src]="NoteImgSrc" width="20" height="20" />
                        &nbsp;
                        {{courseItems[activePlaylistItem].noteHead}}
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        {{courseItems[activePlaylistItem].noteBody}}
                    </div>

                </div>
            </ng-container>                        
            </ng-container>    

    </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar col-sm-12">
                    
                    <div class="col-xs-3 text-center">
                        <a (click)= "studentHome($event)"><img class="img-responsive" src="assets/img/featured.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentSearch($event)" class="active"><img class="img-responsive" src="assets/img/search.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentCourse($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                        <a (click)= "studentProfile($event)"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div>
                </div> 

            </footer>
    </div>
</div>