<div class="container" id="tcoursefeed_body" >
<div id="wrapper">
    <div id="content" [hidden]='isLoaded' style="color:white;">
            <br>
            <div class="loading-screen-wrapper">
                    <div class="loading-screen-icon text-center">
                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                    <br> 
                    <br> 
                    <br> 
                    <br> 
                    <br> 
                    Loading...
                    </div>
                    </div>
    </div>
    
    <div id="content" [hidden]='!isLoaded'>

        <div id="inner">

            <div class="row">
                <br>

                <ng-container>
                    <nav class="navbar navbar-default navbar-fixed-top surface-theme-color">
                      <div class="container">
                        <div class="navbar-header text-center" >

                            <div class="col-xs-2">
                                    <a class="navbar-brand" (click)= "backBtn($event)" style="float: left; margin: 0px 0px !important; padding: 0px !important;">
                                            <img height="20" width="20" class="img-responsive" style="padding: 15px 0px;" src="assets/img/back_btn.png">
                                    </a>
                            </div>


                            <div class="col-xs-10 text-left" style="color: white;overflow: hidden;">
                                <div style="padding: 15px 0px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                                    {{name}} 
                                </div>
                            </div>

                            <!-- <div class="col-xs-3">
                                    <a class="navbar-brand">
                                            <span class="glyphicon glyphicon-menu-hamburger" (click)="openSideNav($event)"></span>
                                    </a>
                            </div> -->


                        </div>
                        <div id="navbar" class="navbar-collapse collapse">

                        </div>
                      </div>
                    </nav>

                    <!-- <div id="mySidenav" class="sidenav" [ngClass]="{'active': sidenavVisible}">
                      <a class="closebtn" (click)="closeNav($event)">&times;</a>

                        <div class="col-sm-2">

                        </div>

                        <div class="col-sm-10">

                                <ng-container *ngFor="let cour of courseItems; let i = index;">
                                        <ng-container *ngIf= "cour.playlistType === 'video'">
                                            <div class="col-sm-12" style="color:white; padding: 0.8em;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                                <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                                    <img [src]="videoImgSrc" width="20" height="20" />
                                                      &nbsp;
                                                     {{cour.videoTitle}}
                                                </div>
                                            </div>
                                        </ng-container>
                
                                        <ng-container *ngIf= "cour.playlistType === 'quiz'">
                                            <div class="col-sm-12" style="color:white; padding: 0.8em;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                                <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                                    <img [src]="quizImgSrc" width="20" height="20" />
                                                    &nbsp;
                                                    {{cour.quizQuestion}}                      
                                                </div>
                                            </div>
                                        </ng-container> 
                                        <ng-container *ngIf= "cour.playlistType === 'note'">
                                            <div class="col-sm-12" style="color:white; padding: 0.8em;" [ngClass]="{'navbar-active': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                                <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                                    <img [src]="NoteImgSrc" width="20" height="20" />
                                                    &nbsp;
                                                    {{cour.noteHead}}
                                                </div>
                                            </div>
                                        </ng-container>                        
                                        </ng-container> 
                                    <br>
                        </div>

                        <div class="col-sm-2">

                        </div>
                        
                    </div> -->
                </ng-container>

                <br>
            
                <!-- <div class="col-sm-12">
                            <h1 class="text-center" style="color: white;height: 1.2em;overflow: hidden;">{{name}}</h1>
                </div> -->
                
            </div>                                
            
            <ng-container *ngIf='isLoaded'>            

            <br>
            <br>
            <br>

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'video'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4 heading-font-size" style="display: inline-block; font-size: 1.2em;">
                         {{courseItems[activePlaylistItem].videoTitle}}
                    </div>                    
                    <br>
                    <br>
                    <video class="video-background-color" [attr.poster]="courseItems[activePlaylistItem].videoThumbnail? courseItems[activePlaylistItem].videoThumbnail: 'assets/img/login_page_logo.png'" width="100%" height="300" controls src="{{courseItems[activePlaylistItem].videoLink}}" preload="metadata" >
                    </video>


                </div>
            </ng-container>

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'quiz'">
                <div class="col-sm-12" style="color:white;" >
                    <div class="col-sm-4 heading-font-size" style="display: inline-block; font-size: 1.5em;">                        
                        {{courseItems[activePlaylistItem].quizQuestion}}                      
                    </div>

                    <br>
                    <br>

                    <div class="well well-sm notAnswered quizbtn quizOption1" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionA'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionA}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn quizOption2" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionB'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionB}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn quizOption3" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionC'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionC}}
                    </div>

                    <div class="well well-sm notAnswered quizbtn quizOption4" [attr.isCorrectAnswer]="courseItems[activePlaylistItem].quizOptionCorrect === 'optionD'" (click)='checkAnswer($event)'>
                        {{courseItems[activePlaylistItem].quizOptionD}}
                    </div>

                </div>
            </ng-container> 

            <ng-container *ngIf= "courseItems[activePlaylistItem].playlistType === 'note'">
                <div class="col-sm-12" style="color:white; font-size: 1.2em;" >
                    <div class="col-sm-4 heading-font-size" style="display: inline-block">                        
                        {{courseItems[activePlaylistItem].noteHead}}
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-12">
                        {{courseItems[activePlaylistItem].noteBody}}
                    </div>

                </div>
            </ng-container>

            <br>
            <div class="btn" style="background-color: transparent; color: #ffffffb0; text-decoration: underline;" [ngClass]="{'hideClass': activePlaylistItem === 0}" (click)='previousPlaylistItem($event)'> Previous</div>
            <div class="btn pull-right primary-theme-color" [ngClass]="{'hideClass': activePlaylistItem === (courseItems.length - 1) }" (click)='nextPlaylistItem($event)'> Next</div>


            <div class="col-xs-12">
                &nbsp;
            </div>
            <div class="col-xs-12 subheading-font-size" style="color: white;">
                <b>Contents</b>
            </div>
            <div class="col-xs-12" style="padding: 0px;">

                    <ng-container *ngFor="let cour of courseItems; let i = index;">
                            <ng-container *ngIf= "cour.playlistType === 'video'">
                                <div class="col-sm-12" style="color:white; padding: 0.8em 0em;" [ngClass]="{'secondary-text-color': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                    <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                        <img [src]="videoImgSrc" width="20" height="20" />
                                          &nbsp;
                                         {{cour.videoTitle}}
                                    </div>
                                    <!-- <hr style="margin: 0px; padding: 0px; border-top: 1px solid #726f6f;"> -->
                                </div>
                            </ng-container>
    
                            <ng-container *ngIf= "cour.playlistType === 'quiz'">
                                <div class="col-sm-12" style="color:white; padding: 0.8em 0em;" [ngClass]="{'secondary-text-color': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                    <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                        <img [src]="quizImgSrc" width="20" height="20" />
                                        &nbsp;
                                        {{cour.quizQuestion}}                      
                                    </div>
                                    <!-- <hr style="margin: 0px; padding: 0px; border-top: 1px solid #726f6f;"> -->
                                </div>
                            </ng-container> 
                            <ng-container *ngIf= "cour.playlistType === 'note'">
                                <div class="col-sm-12" style="color:white; padding: 0.8em 0em;" [ngClass]="{'secondary-text-color': activePlaylistItem === i }" (click)='selectPlaylist($event,i)'>
                                    <div class="col-sm-4" style="display: inline-block; font-size: 1.2em; height: 23px; overflow: hidden;">
                                        <img [src]="NoteImgSrc" width="20" height="20" />
                                        &nbsp;
                                        {{cour.noteHead}}
                                    </div>
                                    <!-- <hr style="margin: 0px; padding: 0px; border-top: 1px solid #726f6f;"> -->
                                </div>
                            </ng-container>                        
                            </ng-container> 
                        <br>
            </div>

            </ng-container>    

    </div>
    </div>
</div>
</div>

<div class="container" style="display:none;">
    <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar col-sm-12">
                    
                    <div class="col-xs-3 text-center">
                        <a (click)= "studentHome($event)"><img class="img-responsive" src="assets/img/featured.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentSearch($event)" class="active"><img class="img-responsive" src="assets/img/search.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentCourse($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30"></a>
                    </div>

                    <div class="col-xs-3 text-center">
                        <a (click)= "studentProfile($event)"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a>
                    </div>
                </div> 

            </footer>
    </div>
</div>