<div class="container" id="tprofile_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
            <div class="row">
            <br>
                <div class="col-sm-12">
                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="75" height="172" style="display: block;"> 
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold">Profile</div>
                </div>
            </div>
            <br>
            <div class="row ">
                <div class="col-sm-12">
                    <!-- <img class="img-responsive center-block" src="assets/img/profile.png" alt="logo" width="75" height="75" style="display: block;">  -->
                    <img class="img-responsive center-block img-rounded" src="{{profilepic}}" alt="logo" width="100" height="100" style="display: block;"> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 text-center" id="toptions">
                    <!-- <a (click)= "tutorDesc1($event)" style="color: yellow">About Tutor</a> -->
                    <!-- <br> -->
                    <div class="col-sm-12">
                        <div class="col-sm-8 subheading-font-size">
                            {{ this.tutorName }}
                            <!-- <label for="titleFormControlInput1" style="color: white">Student Name</label> -->
                            <!-- <input type="text" class="form-control" style="color: white;background-color: #303030;display: inline-block;"  [(ngModel)]="this.tutorName" /> -->
                            <br>
                        </div>   
                       
                    </div>
                    <br>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-8 text-center" id="toptions" >
                        <div class="btn primary-theme-color btn-block" (click)= "Selection($event)" style="color: white">
                            Switch to Author
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-8 text-center" id="toptions" >
                        <div class="btn error-theme-color btn-block" (click)= "signOut($event)" style="color: white">
                            Sign Out
                        </div>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
        </div>
    </div>
</div>
<div class="container surface-theme-color">
    <div class="row ">
            <footer class="fixed-bottom" >
                <div class="icon-bar col-sm-12">
                    
                    <div class="col-xs-3 text-center">
                        <a (click)= "studentHome($event)"><img class="img-responsive" src="assets/img/featured.png"  width="30" height="30">
                            <p style="padding-top: 3px;"> Featured </p>
                        </a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentSearch($event)"><img class="img-responsive" src="assets/img/search.png"  width="30" height="30">
                                <p> Search </p>
                            </a>
                    </div>

                    <div class="col-xs-3 text-center">
                            <a (click)= "studentCourse($event)"><img class="img-responsive" src="assets/img/study.png"  width="30" height="30">
                                <p> My courses </p>
                            </a>
                    </div>

                    <div class="col-xs-3 text-center">
                        <a (click)= "studentProfile($event)"  class="active"><img class="img-responsive" src="assets/img/profile_active.png" width="30" height="30">
                            <p> Profile </p>
                        </a>
                    </div>
                </div> 

            </footer>
    </div>
</div>