<div class="container" id="tplaylistmenu_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
                    <div class="row">
                            <br>
                            <div class="col-sm-12">
                                        <a (click)= "coursedesign1($event)" style="float: left;position: absolute;">
                                                <img height="30" width="30" class="img-responsive" src="assets/img/back_btn.png">
                                        </a>
                                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="75" height="172" style="display: block;"> 
                                </div>
                    </div>
                    <br/>
            <div class="row">
                <div class="col-sm-12 text-center">                    
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold;padding:0px;">Add Note</div>
                    <!-- <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea> -->
                </div>
            </div>
            <div class="form-group">
                    <label class="subheading-font-size" for="descriptionFormControlTextarea1" style="color: white">Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Title" style="color: white;background-color: #303030;" [(ngModel)]='articleTitle' ngDefaultControl>
                    <br>
                    <label class="subheading-font-size" for="descriptionFormControlTextarea1" style="color: white" >Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="5" placeholder="Enter Description" style="color: white;background-color: #303030;" [(ngModel)]='articleBody' ngDefaultControl></textarea>
                    <br>
                    <button class="btn primary-theme-color center-block" (click)= "Coursefeed($event)"> Save </button>
                    <br>
            </div>  
        </div>
            
        </div> 
    </div>
</div>
<div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/study.png" height="30" width="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/profile.png"  height="30" width="30"></a>
                    </div> 

                </footer>
        </div>
</div>
