/* You can add global styles to this file, and also import other style files */

.heading-font-size {
    font-size: 2.0rem !important;
}

.subheading-font-size {
    font-size: 1.6rem  !important;
    font-style: italic;
    font-weight: bold;
}

.content-font-size {
    font-size: 1.4rem  !important;
}

#myModal .btn-primary{
    /* background-color: #305664 !important; */
    background-color: #337ab7 !important;
}

#myModal .close{
    text-shadow: none;
    color: red;
    font-size: 24px;
    opacity: 1;
}

#myModal{
    background-color: #000000a6; 
    color: white;
}

#myModal .modal-content{
    background-color: #222222;
    color: white;
}

#myModal .modal-footer{
    border-top: none !important;
}


.background-theme-color {
    background-color: #1c1b1b !important;
    color: white;
}

.surface-theme-color {
    background-color: #121212 !important;
    color: white;
}

.error-theme-color {
    background-color: #CF6679 !important;
    color: white;
}

.primary-theme-color {
    /* background-color: #305664 !important; */
    background-color: #337ab7 !important;
    color: white;
}

.primary-theme-color:hover {
    /* background-color: #305664 !important; */
    background-color: #337ab7 !important;
    color: white;
}

.secondary-theme-color {
    background-color: #03DAC6 !important;
    color: black !important;
}

.transparent-theme-color {
    background-color: transparent !important;
}


.primary-text-color {
    /* color: #305664 !important; */
    color: #337ab7 !important;
}

.error-text-color {
    color: #CF6679 !important;
}

.secondary-text-color{
    color: #f4f450 !important;
}

.text-theme-color {
    color: #ffffff !important;
}

.video-background-color {
    background-color: #22221f;
}

select, select option, select .active{
    background: white;
    color: black;
}

.word-limit{
    overflow: hidden;
    height: 3rem;
}