<!-- <div class="container-fluid" style="padding: 0px !important;margin: 0px !important;"> -->
<div class="container-fluid" style="padding: 0px !important;margin: 0px !important;">
<div id="home_body">
    <div class="row">
        <div class="col-sm-12  logo text-center">
            <h3 class="logo_title">GEEK</h3>
            <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
            <h3 class="logo_title_lower">CHARGE</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 text-center">
            <!-- <div class="col-lg-4 col-sm-3">

            </div> -->
            <div class="col-sm-12 category">
                
                <h2 style="color: rgb(216, 215, 215);">Login As</h2>
            <br>
            <div class='btn-group'>
                <button type="button" class="btn btn-primary btn-lg"  (click)= "tutorScope($event)">Tutor</button>
            </div>
            <br>
            <br>
            <div class='btn-group'>
                    <button type="button" class="btn btn-primary btn-lg custom-styles-button" (click)= "studentScope($event)">Student</button>
                  
                    <br>
                    <br>
                    <br>
            </div>
            <!-- <button type="button" class="btn btn-primary btn-lg hide">-</button> -->
            </div>
        <!-- <div class="col-lg-4 col-sm-3">
                
        </div> -->
    </div>
    </div>
</div>
</div>
