<div class="container" id="tplaylistmenu_body">
    <div id="wrapper">
        <div id="content">
            <div id="inner">
                    <!-- <div class="row">
                            <br>
                            <div class="col-sm-12">
                                    <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="150" height="345" style="display: block;"> 
                                </div>
                    </div> -->
                    <div class="row">
                            <br>
                            <div class="col-sm-12">
                                        <a (click)= "cancelEdit($event)" style="float: left; position: absolute;">
                                                <img height="30" width="30" class="img-responsive" src="assets/img/back_btn.png">
                                        </a>
                                        <img class="img-responsive center-block" src="assets/img/logo.png" alt="logo" width="75" height="172" style="display: block;"> 
                                </div>
                        </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br>
                    <div class="well well-sm page-title heading-font-size" style="font-weight: bold;padding: 0px;">Update Quiz</div>
                    <!-- <label for="descriptionFormControlTextarea1" style="color: white">Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"  rows="3" placeholder="Overview of the course" style="color: white;background-color: #303030;"></textarea> -->
                </div>
            </div> 
            <div class="form-group">                
                <label class="subheading-font-size" for="previewFormControlInput1" style="color: white">Question</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Enter Question" style="color: white;background-color: #303030;" [(ngModel)]="this.question">
                <br>

                <label class="subheading-font-size" for="previewFormControlInput1" style="color: white">Options</label>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option1" style="color: white;background-color: #303030;" [(ngModel)]="optionA">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option2" style="color: white;background-color: #303030;" [(ngModel)]="optionB">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option3" style="color: white;background-color: #303030;" [(ngModel)]="optionC">
                <br>
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Option4" style="color: white;background-color: #303030;" [(ngModel)]="optionD">
                <br>
                
                <label class="subheading-font-size" for="previewFormControlInput1" style="color: white">Correct Answer is: </label>

                &nbsp;
                <select name='corretAnswer' [(ngModel)]="optionCorrect">
                  <option value="optionA">optionA</option>
                  <option value="optionB">optionB</option>
                  <option value="optionC">optionC</option>
                  <option value="optionD">optionD</option>
                </select>

                <br>
                <br>
                <button class="btn primary-theme-color center-block" (click)= "updateCourse($event)" > Update </button>
                <br>
                <button class="btn error-theme-color center-block" data-toggle="modal" data-target="#myModal" > Delete </button>
                <!-- <div class="btn btn-danger pull-right glyphicon glyphicon-trash" style='width: 50px;' playlistItemId='cour.playlistID' [attr.playlistID]='cour.playlistID' (click)='deletePlaylist($event,cour.playlistID)'></div> -->

                <br>                
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container surface-theme-color">
        <div class="row ">
                <footer class="fixed-bottom" >
                    <div class="icon-bar">
                        
                        <a (click)= "tutorDash($event)"><img class="img-responsive" src="assets/img/profile.png" width="30" height="30"></a> 
                        <a  (click)= "tutorProfile($event)" style="float: right"><img class="img-responsive" src="assets/img/study.png" width="30" height="30"></a>
                    </div> 

                </footer>
        </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title heading-font-size">Delete</h3>
            </div>
            <div class="modal-body ">
                <h4 class="content-font-size">Are you sure you want to delete?</h4>
                <br/>
            </div>
            <div class="modal-footer" style="text-align:center;">
              <br/>  
              <button type="button" class="btn primary-theme-color" data-dismiss="modal" (click)='deletePlaylist($event)'>Yes</button>&nbsp;&nbsp;
              <button type="button" class="btn error-theme-color" data-dismiss="modal">No</button>
            </div>
          </div>
          
        </div>
</div>